/* 내정보 */
@charset "UTF-8";

#container {
	widht: 100%;
	position: relative;
	top: 100px;
}

td:nth-child(1) {
	width: 20px;
	text-align: right;
}

td:nth-child(2) {
	width: 100px;
	text-align: justify;
	padding: 20px;
}

#footer {
	text-align: center;
	margin-top: 20px;
}

.long {
	width: 300px;
}

.short {
	width: 100px;
}

table {
	border-collapse: collapse;
	width: 1000px;
	margin: auto;
}

tr {
	border-bottom: 1px solid gray;
}

#mypagenav {
	width: 1000px;
	height: 80px;
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	word-spacing: 10px;
	border-top: 3px solid gray;
	border-bottom: 2px solid gray;
	color: black;
	font-weight: bold;
	font-size: 18px;
}

li {
	float: left;
}

#mypagenav li a {
	display: block;
	color: black;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

#mypagenav li a:hover {
	color: #2BC0E4;
}

h1 {
	text-align: center;
	color: black;
	padding: 20px;
	line-height: 80px;
	width: 960px;
	margin: auto;
}

.backbtn {
	color: gray;
	padding: 15px 25px;
	margin: 50px 20px 10px 0px;
	border: 0.5px solid gray;
	background-color: white;
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold;
}

.backbtn:hover {
	background-color: #2BC0E4;
	color: white;
}

h4 {
	text-align: center;
}
























/* 내 글 */







































/* 탈퇴 */
@charset "UTF-8";

#mypagenav {
	height: 20px;
	padding: 1rem;
	color: white;
	background: linear-gradient(to right, #70e1f5, #eaecc6);
	list-style-type: none;
	margin:;
	padding:;
	overflow: hidden;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	word-spacing: 10px;
	border-radius: 50px;
}

li {
	float: left;
}

#mypagenav li a {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

#mypagenav li a:hover {
	background-color: linear-gradient(to right, #70e1f5, #eaecc6);
	color: white;
}

#container {
	widht: 50px;
	position: relative;
	top: 100px;
}

#footer {
	text-align: center;
	margin-top: 20px;
}

h1 {
	text-align: center;
	color: #2BC0E4;
	text-shadow: 2px 2px 2px gray;
}

table {
	margin: auto;
}

.backbtn {
	color: gray;
	padding: 10px 15px;
	margin: 0px 10px 10px 0px;
	border: 0.5px solid gray;
	background-color: white;;
	border-radius: 4px;
}

.backbtn:hover {
	color: white;
	background: #2BC0E4;
}