@charset "UTF-8";

.idul {
	padding: 5px 10px;
	background: #ffffe0;
	border: 1px solid;
	border-radius: 4px;
	display: none;
	list-style-type: none;
	position: absolute;
	z-index: 100;
	left: 620px;
}

.idul a:hover {
	font-weight: bold;
}