@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: auto;
}

.header {
	width: 1000px;
	height: 80px;
	margin: auto;
}

.title {
	margin-top: 120px;
	width: auto;
	line-height: 80px;
	text-align: center;
	color: white;
	background-color: teal;
	border-radius: 50px;
}

.body {
	width: 1000px;
	margin: auto;
	background-color: white;
}

.bodytitle {
	margin-top: 10px;
}

.membertable {
	width: 100%;
	margin: auto;
	padding: 10px;
	border-collapse: collapse;
	text-align: center;
}

.leftdiv {
	float: left;
}

.allmem {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
}

.selectbox {
	float: left;
	width: 90px;
	height: 40px;
	border: 0px;
	outline: none;
	padding-left: 10px;
	padding-right: 0px;
}

.rightdiv {
	float: right;
	margin-bottom: 10px;
	height: 40px;
	width: 400px;
	background: #ffffff;
	border: 1px solid teal;
}

.search {
	font-size: 14px;
	width: 230px;
	padding: 12px;
	border: 0px;
	outline: none;
	float: left;
}

.searchbtn {
	width: 45px;
	height: 100%;
	border: 0px;
	background: teal;
	color: #ffffff;
	outline: none;
	float: right;
}

td {
	margin-top: 5px;
	border-bottom: 1px solid #EAEAEA;
	padding: 20px 0px 20px 0px;
}

.memlistnav {
	color: gray;
	font-weight: bold;
	border-top: 3px solid #8C8C8C;
	border-bottom: 2px solid #8C8C8C;
	background-color: #F6F6F6;
}

.footer {
	width: 1000px;
	margin: auto;
	text-align: center;
}

.btntable {
	width: 90%;
	margin: auto;
	padding: 10px;
	border-collapse: collapse;
}

.backbtn {
	color: white;
	padding: 10px 15px;
	margin: 50px 20px 10px 0px;
	border: 0.5px solid black;
	background-color: teal;
	border-radius: 4px;
}

.modifybtn {
	background-color: white;
	border: 0.5px solid gray;
	padding: 5px 5px;
	border-radius: 4px;
	color: gray;
}

.modifybtn:hover {
	background-color: gray;
	color: white;
}

.write1 {
	width: 10%;
}

.write2 {
	width: 15%;
}

.write3 {
	width: 20%;
}

.writelist {
	text-align: center;
	font-size: 14px;
}

.page {
	padding: 30px;
}

.pagenum {
	padding: 10px;
	color: #8C8C8C;
	background: white;
	border-radius: 4px;
}

.pagenum:hover {
	background-color: #8C8C8C;
	color: white;
}

.selectpage {
	padding: 10px;
	background-color: #8C8C8C;
	color: white;
	border-radius: 4px;
}

.pagemove {
	padding: 10px;
	padding-bottom: 12px;
	background-color: #8C8C8C;
	color: white;
	border-radius: 4px;
}
