@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	margin: auto;
	height: 1000px;
}

.header {
	width: 1000px;
	height: 80px;
	margin: auto;
}

.title {
	background: linear-gradient(to right, #70e1f5, #eaecc6);
	margin-top: 130px;
	padding: 20px;
	width: 960px;
	line-height: 80px;
	text-align: center;
	color: black;
}

.body {
	width: 1000px;
	margin: auto;
	margin-top: 50px;
}

table {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
}

td {
	margin-top: 5px;
	border-bottom: 1px solid gray;
	padding: 25px 10px 25px 10px;
	text-align: left;
}

.tdleft {
	width: 100px;
	font-weight: bold;
	font-size: 17px;
}

.short {
	width: 50px;
}

.footer {
	width: 100%;
	margin: auto;
	text-align: center;
}

.cancle, .ban {
	color: gray;
	padding: 10px 15px;
	margin: 30px 20px 10px 0px;
	border: 0.5px solid gray;
	border-radius: 4px;
}

/* .postnum {
	color: gray;
	padding: 10px 15px;
	border: 0.5px solid teal;
	border-radius: 24px;
	background-color: teal;
	border-radius: 24px;
} */
.cancle {
	background-color: white;
}

.cancle:hover {
	background-color: #2BC0E4;
	color: white;
}

.ban {
	background-color: white;
}

.ban:hover {
	background-color: red;
	color: white;
}
