@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: auto;
}

.header {
	width: 100%;
	height: 100px;
	margin: auto;
}

.title {
	margin-top: 100px;
	width: auto;
	background-color: white;
	line-height: 100px;
	text-align: left;
	color: teal;
}

.body {
	width: 1000px;
}

table {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
}

td {
	margin-top: 5px;
	border-bottom: 1px solid #EAEAEA;
	padding: 20px 0px 20px 0px;
	text-align: left;
}

.tdleft {
	width: 100px;
}

.short {
	width: 50px;
}

.footer {
	width: 100%;
	margin: auto;
	text-align: center;
}

.cancle, .ban {
	color: white;
	padding: 10px 15px;
	margin: 10px 20px 10px 0px;
	border: 0.5px solid black;
	border-radius: 4px;
}

.postnum {
	color: white;
	padding: 10px 15px;
	border: 0.5px solid teal; 
	border-radius : 24px;
	background-color: teal;
	border-radius: 24px;
}

.cancle {
	background-color: gray;
}

.ban {
	background-color: red;
}
