@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#container {
	widht: 100%;
	position: relative;
	top: 100px;
}

td:nth-child(1) {
	width: 20px;
	text-align: right;
}

td:nth-child(2) {
	width: 100px;
	text-align: justify;
	padding: 20px;
}

#footer {
	text-align: center;
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	width: 1000px;
	margin: auto;
}

tr {
	border-bottom: 1px solid gray;
}

.title {
	background: linear-gradient(to right, #70e1f5, #eaecc6);
	margin: auto;
	width: 1000px;
	height: 120px;
	line-height: 120px;
	text-align: center;
}

#mypagenav {
	margin: auto;
	width: 960px;
	padding: 20px;
	list-style-type: none;
	overflow: hidden;
	font-weight: bold;
	display: flex;
	align-items: center;
	border-bottom: 5px solid gray;
}

#mypagenav li a {
	display: block;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-right: 30px;
}

#mypagenav>li>a:hover {
	color: #2BC0E4;
}

#container>h1 {
	text-align: center;
	color: black;
	padding: 20px;
	line-height: 80px;
	width: 960px;
	margin: auto;
}

.box {
	padding: 10px;
	width: 380px;
	font-size: 14px;
	font-weight: bold;
	color: gray;
}

.backbtn {
	color: gray;
	padding: 10px 15px;
	margin: 5px;
	font-size: 15px;
	font-weight: bold;
	border: 0.5px solid gray;
	background-color: white;
	border-radius: 4px;
}

.backbtn:hover {
	cursor: pointer;
	color: #2BC0E4;
	border: 2px solid #2BC0E4;
}

h4 {
	text-align: center;
}

td {
	padding: 25px 10px 25px 10px;
	font-size: 18px;
	font-weight: bold;
}

td:nth-child(1) {
	color: red;
}

td:nth-child(2) {
	font-weight: bold;
}

.btn {
	text-align: center;
	margin-top: 20px;
}