@charset "UTF-8";
#content {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	top: 90px;
}

#middle {
	margin: 20px auto 0;
}

#categorylist {
	font-size: 50px;
	font-weight: 900;
	margin: 0;
	text-align: center;
	background: rgb(61, 183, 204);
}


table {
	width: 1000px;
	border-collapse: collapse;
	table-layout: fixed;
}

span {
	font-weight: 1000;
}

#tr1 {
	background: #DCDCDC;
}

td {
	height: 30px;
	border-bottom: 1px solid black;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.bno {
	width: 8%;
	text-align: center;
}

.title {
	width: 50%;
}

.nick {
	width: 8%;
}

.regdate {
	width: 18%;
	text-align: center;
}

.cnt {
	width: 8%;
	text-align: center;
}

.good {
	width: 8%;
	text-align: center;
}


#searchbtn {
	color: white;
	background-color: teal;
	border-radius: 4px;
	margin-left: -5px;
}
.search {
	height: 30px;
	margin: 0;
	padding: 0;
	border: none;
}

#paginghr {
	position : relative;
	top : 24px;
	margin: 0;
	background: #BDBDBD;
	height: 1px;	
}

#searchform {
	position: relative;
	top: 32px;
}

#searchbtn {
	color: white;
	background-color: #2BC0E4;
	border-radius: 4px;
	margin-left: -5px;
}

#search {
	height: 100px;
	background: #DCDCDC;
	text-align: center;
}
#pagingArea {
	position : relative;
	top : 14px;
}
#paginghr {
	position : relative;
	top :-15px;
	margin: 0;
	background: #BDBDBD;
	height: 1px;	
}
