@charset "UTF-8";
#container {
	width: 1000px;
	height: 1050px;
	margin: auto;
	padding : 10px;
	position: relative;
	text-align:center;
	top: 90px;
}
table{
	width:700px;
	margin:auto;
	position:relative;
	left:-40px;
}
td:nth-child(1){
	text-align: center;
}
td:nth-child(2){
	width:600px;
}
#mid td input{
	width:600px;
}
#mid textarea{
	height: 500px;
	width:600px;
}
#select{
	text-align:right;
}
#mid{
	text-align:center;
}

.button {
	background-color: teal;
	padding: 10px 40px 10px 40px;
	color:white;
	border:none;
}