@charset "UTF-8";

#container {
	width: 1000px;
	height: 1050px;
	margin: auto;
	padding: 10px;
	position: relative;
	text-align: center;
	top: 67px;
}

#writecss {
	background: linear-gradient(to right, #70e1f5, #eaecc6);
	padding: 20px;
	height: 80px;
	line-height: 80px;
}

table {
	width: 1000px;
	margin: auto;
	position: relative;
}

#mid td select {
	width: 100px;
}

#mid td input {
	float: left;
	width: 860px;
	margin-left: 5px;
	margin-bottom: 15px;
	padding: 12px;
}

#mid textarea {
	width: 97.5%;
	height: 500px;
	resize: none;
	margin-bottom: 10px;
	margin-right: 3px;
}

select {
	cursor: pointer;
	border: 1px solid gray;
	border-radius: 10px;
	outline: none;
	height: 40px;
	padding: 10px;
	font-size: 18px;
	float: left;
}

#uploadtitle {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px;
}

#uploadResult {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px;
}

label {
	float: left;
	border: none;
	border-radius: 8px;
	color: #2BC0E4;
	background-color: white;
	border: 1px solid #2BC0E4;
	padding: 20px;
	margin-left: 5px;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s;
}

label:hover {
	cursor: pointer;
	color: white;
	background-color: #2BC0E4;
}

#mid {
	text-align: center;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	padding: 15px 25px;
	color: gray;
	border: 1px solid gray;
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
}

.button:hover {
	cursor: pointer;
	border: 2px solid #2BC0E4;
	color: #2BC0E4;
}