<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.goat.mapper.MessageMapper">

	<insert id="send">
		insert into message(send_id, recv_id, mcontent)
		values(#{send_id}, #{recv_id}, #{mcontent})
	</insert>

	<select id="recieveMsg" resultType="org.goat.model.MessageVO">
		select * from message where recv_id=#{recv_id} and recv_chk=0
	</select>

	<select id="sendMsg" resultType="org.goat.model.MessageVO">
		select * from message where send_id=#{send_id} and send_chk=0
	</select>

	<select id="newMsg" resultType="org.goat.model.MessageVO">
		select * from message where recv_id=#{recv_id} and new_msg=0
	</select>

	<update id="recvRemove">
		update message
		set recv_chk = 1, new_msg = 1
		where mno = #{mno}
	</update>

	<update id="sendRemove">
		update message
		set send_chk = 1
		where mno = #{mno}
	</update>

	<update id="chkNewMsg">
		update message
		set new_msg = 1
		where mno = #{mno}
	</update>
     
  </mapper>